@{
    ViewData["Title"] = "Home Page";
}

<div class="container top-from-hearder">
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="card w-100 border-profile">
                <div class="card-header bg-head-profile">PROFILE</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <img src="~/images/profile/profile2.jpg" class="img-profile" />
                        </div>
                        <div class="col-sm-8 col-md-8 font-info">
                            <div class="row">
                                <div class="col-sm-1 font-topic-profile">
                                    <i class="fas fa-user-tie"></i>
                                </div>
                                <div class="col-sm-11">
                                    Anchalee Raksasiri
                                </div>
                                <div class="col-sm-1 font-topic-profile">
                                    <i class="fas fa-building"></i>
                                </div>
                                <div class="col-sm-11">
                                    Application Outsourcing Department
                                </div>
                                <div class="col-sm-1 font-topic-profile">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="col-sm-11">
                                    097-028-6674
                                </div>
                                <div class="col-sm-1 font-topic-profile">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="col-sm-11">
                                    anchalee.r@global-able.com
                                </div>
                            </div>

                        </div>

                    </div>
                    <hr />
                    <div class="row justify-content-center">
                        <div class="col-sm-4">
                            <span class="font-point-profile">32</span> <span class="font-status-profile">ARTICLES</span>
                        </div>
                        <div class="col-sm-4">
                            <span class="font-point-profile">100</span> <span class="font-status-profile">REPLIES</span>
                        </div>
                        <div class="col-sm-4">
                            <span class="font-point-profile">4,000</span> <span class="font-status-profile">POINTS</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--ARTICLE-->
        <div class="col-sm-8 col-md-8">
            <div class="card w-10 space-article border-profile">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="~/images/profile/profile3.jpg" class="img-article" />
                        </div>
                        <div class="col-sm-10">
                            <div class="row owner-article">
                                Chatchawan Sitthitoom
                            </div>
                            <div class="row topic-article">
                                docker คืออะไร
                            </div>
                            <div class="row detail-article">
                                docker ช่วย deploy application
                                cloud ช่วย server

                                เวลา เครื่องถึงจุดต้องขยายแล้ว เรา auto server ใหม่ EC2 ขึ้น ก่อน แล้วค่อยสั่ง docker รัน container ไปวางใช่ไหมครับ

                                แต่จะเป็นลักษณะ automate ไปได้ยังไงครับ  ยังไม่ค่อยเห็นภาพ เท่าไรครับ ว่า สองตัวนี้ ช่วยกันทำงานไปยังไง อ่านแล้ว
                                ยังนึกภาพไม่ออกเลย
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-lg-center comment-article">
                        <div class="col-sm-3">
                            August 9, 2018
                        </div>
                        <div class="col-sm-2">
                            Like 3
                        </div>
                        <div class="col-sm-2">
                            Comment 24
                        </div>
                    </div>
                </div>
            </div>

            <div class="card w-10 space-article border-profile">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="~/images/profile/p3.jpg" class="img-article" />
                        </div>
                        <div class="col-sm-10">
                            <div class="row owner-article">
                                Chatchawan Sitthitoom
                            </div>
                            <div class="row topic-article">
                                docker คืออะไร
                            </div>
                            <div class="row detail-article">
                                docker ช่วย deploy application
                                cloud ช่วย server

                                เวลา เครื่องถึงจุดต้องขยายแล้ว เรา auto server ใหม่ EC2 ขึ้น ก่อน แล้วค่อยสั่ง docker รัน container ไปวางใช่ไหมครับ

                                แต่จะเป็นลักษณะ automate ไปได้ยังไงครับ  ยังไม่ค่อยเห็นภาพ เท่าไรครับ ว่า สองตัวนี้ ช่วยกันทำงานไปยังไง อ่านแล้ว
                                ยังนึกภาพไม่ออกเลย
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-lg-center comment-article">
                        <div class="col-sm-3">
                            August 9, 2018
                        </div>
                        <div class="col-sm-2">
                            Like 3
                        </div>
                        <div class="col-sm-2">
                            Comment 24
                        </div>
                    </div>
                </div>
            </div>

            <div class="card w-10 space-article border-profile">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="~/images/profile/p4.jpg" class="img-article" />
                        </div>
                        <div class="col-sm-10">
                            <div class="row owner-article">
                                Chatchawan Sitthitoom
                            </div>
                            <div class="row topic-article">
                                docker คืออะไร
                            </div>
                            <div class="row detail-article">
                                docker ช่วย deploy application
                                cloud ช่วย server

                                เวลา เครื่องถึงจุดต้องขยายแล้ว เรา auto server ใหม่ EC2 ขึ้น ก่อน แล้วค่อยสั่ง docker รัน container ไปวางใช่ไหมครับ

                                แต่จะเป็นลักษณะ automate ไปได้ยังไงครับ  ยังไม่ค่อยเห็นภาพ เท่าไรครับ ว่า สองตัวนี้ ช่วยกันทำงานไปยังไง อ่านแล้ว
                                ยังนึกภาพไม่ออกเลย
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-lg-center comment-article">
                        <div class="col-sm-3">
                            August 9, 2018
                        </div>
                        <div class="col-sm-2">
                            Like 3
                        </div>
                        <div class="col-sm-2">
                            Comment 24
                        </div>
                    </div>
                </div>
            </div>

            <div class="card w-10 space-article border-profile">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="~/images/profile/p5.jpg" class="img-article" />
                        </div>
                        <div class="col-sm-10">
                            <div class="row owner-article">
                                Chatchawan Sitthitoom
                            </div>
                            <div class="row topic-article">
                                docker คืออะไร
                            </div>
                            <div class="row detail-article">
                                docker ช่วย deploy application
                                cloud ช่วย server

                                เวลา เครื่องถึงจุดต้องขยายแล้ว เรา auto server ใหม่ EC2 ขึ้น ก่อน แล้วค่อยสั่ง docker รัน container ไปวางใช่ไหมครับ

                                แต่จะเป็นลักษณะ automate ไปได้ยังไงครับ  ยังไม่ค่อยเห็นภาพ เท่าไรครับ ว่า สองตัวนี้ ช่วยกันทำงานไปยังไง อ่านแล้ว
                                ยังนึกภาพไม่ออกเลย
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-lg-center comment-article">
                        <div class="col-sm-3">
                            August 9, 2018
                        </div>
                        <div class="col-sm-2">
                            Like 3
                        </div>
                        <div class="col-sm-2">
                            Comment 24
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
